table,th,td{
    width: 100%;
    border: 1px solid;
    padding: 10px;
    border-collapse: collapse;
}
td,th{
    width: fit-content;
}
td:hover{
    background-color: gray;
    cursor: pointer;
}
input{
    width: 30vw;
    height: 30px;
    padding: 5px;
}
